body
{
    background: #1e1f24; 
    color: #333;
    text-align: center;
    font-family: "arial";
    font-size: 20px;
    margin: 0;
    padding: 0;
}

#cabecera {
    background:#33a;
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.5);
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
}

#cabecera img {
    max-height: 5em;
    max-width: 5%;
    vertical-align: middle;
}

#cabecera #tagline {
    padding: 0 0 0 1cm;
    font-weight: normal;
    font-size: 0.8em;
}

#container  {
    width: 70%;
    padding: 0;
    text-align: left;
    border: 1px solid #a5a1a1;
    margin: 0 auto;
}

#container h1 {
    font-size: 30px; 
}
#post {
    background-color: #fff;
    padding: 1em;
}
  
<<<<<<< HEAD
=======
#header {
    background: #707b7d;
    color: #fafeff;
    padding: 0.5em;
    text-align: center;
    border: 4px solid #020024;
}
>>>>>>> header
